header {
  width: 100%;
  height: 40px;
  background: #333333;
  position: relative;
}

header section {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

header section .sub-nav {
  float: left;
  margin-top: 14px;
}

header section .sub-nav li {
  height: 14px;
  float: left;
  line-height: 14px;
  padding: 0 8px;
  border-right: 1px solid #3c423c;
  position: relative;
}

header section .sub-nav li a {
  color: #b0b0b0;
  font-size: 12px;
  vertical-align: top;
}

header section .sub-nav li a:hover {
  color: white;
}

header section .sub-nav li:nth-of-type(1) {
  padding-left: 0;
}

header section .sub-nav li:nth-last-of-type(1) {
  border: none;
}

header section .sub-nav .down-load .ewm {
  position: absolute;
  top: 26px;
  left: -50%;
  width: 124px;
  box-shadow: 0 3px 5px 2px #cccccc;
  background: white;
  display: none;
}

header section .sub-nav .down-load .ewm img {
  width: 90px;
  height: 90px;
  margin: 17px auto;
}

header section .sub-nav .down-load .ewm p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 17px;
}

header section .logIn {
  position: absolute;
  top: 14px;
  right: 146px;
}

header section .logIn li {
  float: left;
  height: 14px;
  padding: 0 8px;
  border-right: 1px solid #3c423c;
  position: relative;
}

header section .logIn li a {
  color: #b0b0b0;
  font-size: 12px;
  vertical-align: top;
}

header section .logIn li a:hover {
  color: white;
}

header section .logIn li:nth-of-type(1) {
  padding-left: 0;
}

header section .logIn li:nth-last-of-type(1) {
  border: none;
}

header section .shopCar {
  width: 120px;
  height: 100%;
  background: #424242;
  position: absolute;
  right: 0;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

header section .shopCar .iconfont {
  margin-right: 4px;
  vertical-align: top;
}

header section .shopBox {
  width: 316px;
  height: 100px;
  background: white;
  position: absolute;
  top: 40px;
  right: 0;
  box-shadow: 0 3px 5px 2px #cccccc;
  z-index: -1;
  display: none;
}

.main-top {
  width: 1228px;
  height: 100px;
  margin: 0 auto;
  background: white;
}

.main-top .logo {
  margin-top: 22px;
  float: left;
}

.main-top .nav {
  margin-left: 188px;
  float: left;
  line-height: 100px;
}

.main-top .nav li {
  padding: 0 11px;
  float: left;
  cursor: pointer;
  font-size: 16px;
}

.main-top .nav li:nth-of-type(1) {
  padding-left: 0px;
}

.main-top .nav li:hover {
  color: #ff6700;
}

.main-top .search-cont {
  width: 244px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-left: 53px;
  margin-top: 24px;
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
}

.main-top .search {
  display: inline-block;
  width: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  margin-top: 24px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  background: white;
}

.nav-goods {
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.2s;
  position: absolute;
  top: 140px;
  background: white;
  box-sizing: border-box;
  z-index: 4;
}

.nav-goods .nav-goods-box {
  width: 100%;
  height: 230px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.nav-goods .nav-goods-box .nav-goods-box-sub {
  width: 1228px;
  height: 230px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.nav-goods .nav-goods-box .nav-goods-box-sub .nav_goods_ul {
  width: 1000000px;
  height: 230px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-goods .nav-goods-box .nav-goods-box-sub .nav_goods_ul li {
  float: left;
  width: 204px;
  height: 230px;
  padding-top: 40px;
  background: url(../img/shuxian_03.png) no-repeat;
  background-position: right 40px;
}

.nav-goods .nav-goods-box .nav-goods-box-sub .nav_goods_ul li:nth-of-type(6n) {
  background: none;
}

.nav-goods .nav-goods-box .nav-goods-box-sub .nav_goods_ul li .nav_goods_img {
  margin: 0 22px;
}

.nav-goods .nav-goods-box .nav-goods-box-sub .nav_goods_ul li .title {
  color: #333333;
  margin-top: 20px;
}

.nav-goods .nav-goods-box .nav-goods-box-sub .nav_goods_ul li .price {
  color: #ff6700;
  margin-top: 10px;
}